/* Reset browser defaults */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Custom Font */
@font-face {
    font-family: 'Reey';
    src: url('./assets/fonts/Reey/Reey-Regular.woff2');
}

/* Page Body */
body {
    /* Position */
    position: relative;

    /* Display Mode */
    display: flex;
    flex-direction: column;

    /* Box Model */
    margin: 0;
    border: none;
    padding: 0;
    min-height: 100vh; /* Makes sure the body takes at least the full height of the viewport */

    /* Background */
    background-size: cover;

    /* Colors */
    background-color: white;

    /* Font */
    font-family: "Inter Tight", sans-serif;
    letter-spacing: 1px;
}

/* Background Texture */
body::before {
    /* Position */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; /* Ensures it's behind all other content */

    /* Box Model */
    content: "";

    /* Background */
    background-image: url('./assets/images/background-pattern.png'); 
    background-size: contain;
    background-attachment: fixed;
}

/* Navigation Bar */

#main-nav {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    min-width: 100vw;
    height: 5rem;
    background-color: #1F1F1F00;
    z-index: 3; 
}

#nav-menu {
    display: flex;
    justify-content: center;
    gap: 20%;
}

nav ul li {
    font-size: 16px;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out 0.2s;
    color: #424040;
}

.nav-link:visited {
    color: #424040;
}

.nav-link:hover {
    font-weight: 700;
    letter-spacing: 3px;
    cursor: pointer;
}

.nav-link.current {
    font-weight: 700;
    color: #8B9E3B;
}

/* Page Content */

main {
    margin-top: 3rem;
    height: calc(100dvh - 3rem); 
    display: flex;
    justify-content: space-around; 
    align-items: center;
    position: fixed;
    min-height: 100vh;
}

.introduction {
    flex: 1; /* The size of all of the other elements will have the same width as their content, but this one will have the remaining full space */
    padding: 20px;
    margin-left: 3%;
    z-index: 2;
    text-align: left;   
}

.introduction h1 {
    font-weight: 300;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-left: 25%;
}

.display-title {
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: 5%;
    color: #8B9E3B;
    font-size: 70px;
    font-family: 'Reey', Arial, sans-serif;
    font-weight: 100;
    line-height: 1.5;
    max-width: 70%;
}

.introduction p {
    margin-top: 0; 
    font-weight: 300;
    font-size: 16px;
    line-height: 1.8;
    max-width: 65%;
}

.image-container {
    flex: 1; /* Takes up the rest of the flex space */
    align-self: center;
    position: relative;
    overflow: hidden;
}

.texture {
    width: 101%; /* The image will fill the container -- I added 1% extra because there was a strange line on the very right cause by missing pixels, probably in the svg or the texture image */
    height: auto; /* Maintains aspect ratio */
    filter: grayscale(100%) brightness(20%) contrast(100%); 
    /* Browser compatibility -- Chrome was not rendering it till I added -webkit- prefix */
    -webkit-mask-image: url('data:image/svg+xml;utf8,<svg width="839" height="842" viewBox="0 0 839 842" xmlns="http://www.w3.org/2000/svg"><path d="M0 421C0 188.488 188.488 0 421 0H839V842H421C188.488 842 0 653.512 0 421V421Z" fill="white"/></svg>'); 
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    z-index: 1; /* Controls the stacking order of overlapping elements on a page */
}

a { 
    text-decoration: none;
}


.icons {
    margin-top: 40px;
    margin-left: 12%;
}

.icons svg {
    margin-right: 12%;
    margin-top: 3%;
    transform: scale(2); /* Alters the size of an element on the webpage -- Standard ways of resizing were not working for the SVGs */
    stroke: #8B9E3B; /* The icons are outlined, so the color needs to be selected for the stroke, not the fill */
}


.icons svg:hover {
    stroke: #424040;
    transition: all 0.3s ease-in-out 0.1s;
    cursor: pointer;
}


.graphic-element {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 4%;
    margin-right: 2%;
}

.plate {
    position: absolute;
    width: 30%;
    height: auto;
    left: 60%; /* Moves the image to the right -- Flex-end did not work for this */
    filter: drop-shadow(10px 50px 20px #00000045); /* Adds a shadow to the image -- The shadow rotates and 'fixed' makes it disappear */
    animation: spin 100s infinite linear;  
}


/* Media Queries with different breakpoints based on the design */

@media all and (max-width: 631px) { 

    body {
        min-height: 140vh;
    }

    #main-nav {
        position: relative;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        position: absolute;
    }

    .introduction {
        min-height: 100vh;
        margin-left: 0;
    }

    .display-title {
        margin-left: 0;
        display: flex;
        justify-content: center;
        margin-top: 20%;
        font-size: 60px;
        max-width: none;
    }

    .introduction h1 {
        display: flex;
        justify-content: center;
        margin: 0;
        margin-top: 10%;
    }

    .introduction p {
        max-width: 100%;
        text-align: center;
    }

    body::before {
        background-attachment: scroll;
        background-size: 100%;
        background-repeat: repeat-y;
    }

    .icons {
        display: flex;
        justify-content: center;
        margin-left: 0;
        gap: 40px;
    }
    

    .image-container {
        display: flex;
        flex-direction: column;
        align-self: flex-end;
        position: absolute;
        top: 55%;
        width: 90%;
        min-height: 50vh;
        z-index: 1;
        margin-top: 10%;
    }

    .graphic-element {
        display: flex;
        justify-content: flex-end;
        top: 64%;
        z-index: 2;
    }

    .circles {
        width: 85%;
    }

    .plate {
        display: flex;
        justify-content: flex-end;
        top: 78%;
        left: 28%;
        z-index: 2;
        width: 55%;
    }

}

@media all and (max-width: 570px) { 

    .graphic-element {
        top: 62%;
    }

    .plate {
        top: 73%;
    }

}

@media all and (max-width: 450px) { 

    #nav-menu {
        gap: 10%;
    }

    .graphic-element {
        top: 60%;
    }

    .plate {
        top: 70%;
    }

}

@media all and (max-width: 414px) { 

    body {
        min-height: 125vh;
    }

    .introduction {
        min-height: 100vh;
        margin-left: 0;
    }


    .introduction h1 {
        margin-top: 20%;
    }
    
    .display-title {
        text-align: center;
        margin-top: 5%;
        font-size: 50px;

    }
    
    .image-container {
        top: 60%;
    }

    .graphic-element {
        top: 64%;
    }

    .plate {
        top: 72%;
    }


}


/* Keyframes for the animations */

@-webkit-keyframes spin {
    100%{-webkit-transform: rotate(360deg);
    }
}

